html, body {
    margin: 0;
    padding: 0;
}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:100% -apple-system,  "PingFang SC","Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;font-weight:300;background:#f9f9f9;-webkit-text-size-adjust:100%}
a{color:#172c45;text-decoration:none;transition:all 0.5s;cursor:pointer}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}

body {
    .dark-primary-color    { background: #0097A7; }
    .default-primary-color { background: #00BCD4; }
    .default-text-color { color: #00BCD4; }
    .light-primary-color   { background: #B2EBF2; }
    .text-primary-color    { color: #FFFFFF; }
    .accent-color          { background: #8BC34A; }
    .primary-text-color    { color: #212121; }
    .secondary-text-color  { color: #757575; }
    .divider-color         { border-color: #BDBDBD; }
    &.skin1 {
        .dark-primary-color    { background: #0097A7; }
        .default-primary-color { background: #00BCD4; }
        .default-text-color { color: #00BCD4; }
        .light-primary-color   { background: #B2EBF2; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #8BC34A; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin2 {
        .dark-primary-color    { background: #7B1FA2; }
        .default-primary-color { background: #9C27B0; }
        .default-text-color { color: #9C27B0; }
        .light-primary-color   { background: #E1BEE7; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #7C4DFF; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin3 {
        .dark-primary-color    { background: #FFA000; }
        .default-primary-color { background: #FFC107; }
        .default-text-color { color: #FFC107; }
        .light-primary-color   { background: #FFECB3; }
        .text-primary-color    { color: #212121; }
        .accent-color          { background: #FFEB3B; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin4 {
        .dark-primary-color    { background: #455A64; }
        .default-primary-color { background: #607D8B; }
        .default-text-color { color: #607D8B; }
        .light-primary-color   { background: #CFD8DC; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #9E9E9E; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin5 {
        .dark-primary-color    { background: #388E3C; }
        .default-primary-color { background: #4CAF50; }
        .default-text-color { color: #4CAF50; }
        .light-primary-color   { background: #C8E6C9; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #8BC34A; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin6 {
        .dark-primary-color    { background: #1976D2; }
        .default-primary-color { background: #2196F3; }
        .default-text-color { color: #2196F3; }
        .light-primary-color   { background: #BBDEFB; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #00BCD4; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin8 {
        .dark-primary-color    { background: #C2185B; }
        .default-primary-color { background: #E91E63; }
        .default-text-color { color: #E91E63; }
        .light-primary-color   { background: #F8BBD0; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #FF5252; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin9 {
        .dark-primary-color    { background: #7B1FA2; }
        .default-primary-color { background: #9C27B0; }
        .default-text-color { color: #9C27B0; }
        .light-primary-color   { background: #E1BEE7; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #7C4DFF; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin10 {
        .dark-primary-color    { background: #512DA8; }
        .default-primary-color { background: #673AB7; }
        .default-text-color { color: #673AB7; }
        .light-primary-color   { background: #D1C4E9; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #536DFE; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin11 {
        .dark-primary-color    { background: #303F9F; }
        .default-primary-color { background: #3F51B5; }
        .default-text-color { color: #3F51B5; }
        .light-primary-color   { background: #C5CAE9; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #448AFF; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin12 {
        .dark-primary-color    { background: #0288D1; }
        .default-primary-color { background: #03A9F4; }
        .default-text-color { color: #03A9F4; }
        .light-primary-color   { background: #B3E5FC; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #00BCD4; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin13 {
        .dark-primary-color    { background: #0097A7; }
        .default-primary-color { background: #00BCD4; }
        .default-text-color { color: #00BCD4; }
        .light-primary-color   { background: #B2EBF2; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #009688; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin14 {
        .dark-primary-color    { background: #388E3C; }
        .default-primary-color { background: #4CAF50; }
        .default-text-color { color: #4CAF50; }
        .light-primary-color   { background: #C8E6C9; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #009688; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin15 {
        .dark-primary-color    { background: #FFA000; }
        .default-primary-color { background: #FFC107; }
        .default-text-color { color: #FFC107; }
        .light-primary-color   { background: #FFECB3; }
        .text-primary-color    { color: #212121; }
        .accent-color          { background: #FF9800; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin16 {
        .dark-primary-color    { background: #F57C00; }
        .default-primary-color { background: #FF9800; }
        .default-text-color { color: #FF9800; }
        .light-primary-color   { background: #FFE0B2; }
        .text-primary-color    { color: #212121; }
        .accent-color          { background: #FF5722; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin17 {
        .dark-primary-color    { background: #E64A19; }
        .default-primary-color { background: #FF5722; }
        .default-text-color { color: #FF5722; }
        .light-primary-color   { background: #FFCCBC; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #795548; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin18 {
        .dark-primary-color    { background: #F57C00; }
        .default-primary-color { background: #FF9800; }
        .default-text-color { color: #FF9800; }
        .light-primary-color   { background: #FFE0B2; }
        .text-primary-color    { color: #212121; }
        .accent-color          { background: #795548; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin19 {
        .dark-primary-color    { background: #5D4037; }
        .default-primary-color { background: #795548; }
        .default-text-color { color: #795548; }
        .light-primary-color   { background: #D7CCC8; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #9E9E9E; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin20 {
        .dark-primary-color    { background: #616161; }
        .default-primary-color { background: #9E9E9E; }
        .default-text-color { color: #9E9E9E; }
        .light-primary-color   { background: #F5F5F5; }
        .text-primary-color    { color: #212121; }
        .accent-color          { background: #607D8B; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
}

