html, body {
    margin: 0;
    padding: 0;
    height: 5000px;
}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:100% -apple-system,  "PingFang SC","Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;background:#fff;-webkit-text-size-adjust:100%}
a{color:#172c45;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}

body {
    .dark-primary-color    { background: #0097A7; }
    .default-primary-color { background: #00BCD4; }
    .light-primary-color   { background: #B2EBF2; }
    .text-primary-color    { color: #FFFFFF; }
    .accent-color          { background: #8BC34A; }
    .primary-text-color    { color: #212121; }
    .secondary-text-color  { color: #757575; }
    .divider-color         { border-color: #BDBDBD; }
    &.skin1 {
        .dark-primary-color    { background: #0097A7; }
        .default-primary-color { background: #00BCD4; }
        .light-primary-color   { background: #B2EBF2; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #8BC34A; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin2 {
        .dark-primary-color    { background: #7B1FA2; }
        .default-primary-color { background: #9C27B0; }
        .light-primary-color   { background: #E1BEE7; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #7C4DFF; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin3 {
        .dark-primary-color    { background: #FFA000; }
        .default-primary-color { background: #FFC107; }
        .light-primary-color   { background: #FFECB3; }
        .text-primary-color    { color: #212121; }
        .accent-color          { background: #FFEB3B; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin4 {
        .dark-primary-color    { background: #455A64; }
        .default-primary-color { background: #607D8B; }
        .light-primary-color   { background: #CFD8DC; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #9E9E9E; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin5 {
        .dark-primary-color    { background: #388E3C; }
        .default-primary-color { background: #4CAF50; }
        .light-primary-color   { background: #C8E6C9; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #8BC34A; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin6 {
        .dark-primary-color    { background: #1976D2; }
        .default-primary-color { background: #2196F3; }
        .light-primary-color   { background: #BBDEFB; }
        .text-primary-color    { color: #FFFFFF; }
        .accent-color          { background: #00BCD4; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
    &.skin7 {
        .dark-primary-color    { background: #FBC02D; }
        .default-primary-color { background: #FFEB3B; }
        .light-primary-color   { background: #FFF9C4; }
        .text-primary-color    { color: #212121; }
        .accent-color          { background: #CDDC39; }
        .primary-text-color    { color: #212121; }
        .secondary-text-color  { color: #757575; }
        .divider-color         { border-color: #BDBDBD; }
    }
}

