#comp-nav {
    position: sticky;
    top: 0;
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
    z-index: 1998;
    .nav-title {
        padding-left: 20px;
        font-weight: bold;
    }
    .blog-title {
        position: absolute;
        left: 50%;
        top: 0;
        width: 300px;
        margin-left: -150px;
        text-align: center;
        transition: all 0.5s;
        transform: scale(0.6);
        transform-origin: 50% 0;
        opacity: 0;
    }
    .header-nav-list {
        margin-right: 60px;
        a {
            margin-right: 20px;
        }
    }
    .skin-btn-box {
        position: absolute;
        top: -30px;
        right: 0;
        width: 60px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: scaleY(1.5);
        transition: all 0.5s;
        .kite-line {
            height: 50px;
            width: 2px;
        }
        .kite {
            display: flex;
            flex-wrap: wrap;
            width: 14px;
            height: 14px;
            transform: rotate(45deg);
            filter: opacity(0.4);
            cursor: pointer;
            transition: all 0.5s;
            &>div {
                width: 50%;
                height: 50%;
                &:nth-child(1) {
                    background: red;
                }
                &:nth-child(2) {
                    background: purple;
                }
                &:nth-child(3) {
                    background: orange;
                }
                &:nth-child(4) {
                    background: green;
                }
            }
        }
        &.active {
            top: -10px;
        }
    }
    // 仅仅做动画
    &.active {
        background-color: rgba(255, 255, 255, 0.98);
        box-shadow: 0 0 10px rgba(14, 14, 14, .26);
        .nav-title {
            color: #757575;
        }
        .blog-title {
            transform: scale(1);
            opacity: 1;
        }
        .kite {
            filter: opacity(0.8);
        }
    }
}